<div
    class="bg-white shadow-md rounded-lg overflow-hidden transform hover:scale-105 transition duration-300 ease-in-out">
    <div>
        <a href="/shop/<%= product._id %>">
            <!-- Fixed Image Size -->
            <img src="<%= product.images[0] %>" alt="<%= product.name %>"
                class="w-full h-64 object-cover object-center" />
        </a>
    </div>
    <div class="p-4">
        <h3 class="text-xl font-semibold">
            <%= product.name %>
        </h3>
        <div class="mt-2">
            <% if (product.salePrice) { %>
                <div class="flex gap-4">
                    <p class="text-lime-500 line-through">$<%= product.price %>
                    </p>
                    <p class="text-lime-500 font-bold">$<%= product.salePrice %>
                    </p>
                </div>
                <% } else { %>
                    <p class="text-lime-500 font-bold">$<%= product.price %>
                    </p>
                    <% } %>
        </div>

        <!-- View Detail Button -->
        <div class="mt-4">
            <a href="/shop/<%= product._id %>-<%= product.name.replace(/\s+/g, '-').toLowerCase() %>"
                class="px-6 py-2 bg-lime-500 text-white rounded-md hover:bg-lime-600 text-center inline-block">
                View Detail
            </a>
        </div>
    </div>
</div>